<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damh_android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Note"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAMH_Android">
        <activity android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.DAMH_Android.NoActionBar">
        </activity>
        <activity android:name=".SignUpActivity"
            android:label="Note"/>
        <activity android:name=".LoginActivity"
            android:label="Note">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>